{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <!-- using this hidden tag method here now: that hidden tag something 
            that you need to add in but don't worry too much about what it does 
            (it's adding something called CSRF token or a croos-site request 
            forgery token and when i said earlier that seting our secret key 
            for our application would protect our form against certain attacks
            will this hidden tag here is part of that protection so add it on 
            but you definitely need it-->
            <!-- nesseccery -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    <!-- we can pass argument class to give nice style to label
                    from.username.label : it mean label of username -->
                    {{ form.username.label(class="form-control-label") }}
                    <!-- form.username : it mean what the user writes in field -->
                   
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.username.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error}}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="form-control form-control-lg ") }}
                    {% endif %}
                    
                     
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error}}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control form-control-lg ") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">
                            <span>{{ error}}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form-control form-control-lg ") }}
                {% endif %}  
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.confirm_password.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error}}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg ") }}
                    {% endif %}
                 
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}